<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ArkNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ArkNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <ArkNet.Properties.Settings>
      <setting name="MainNetName" serializeAs="String">
        <value>mainnet</value>
      </setting>
      <setting name="MainNetPort" serializeAs="String">
        <value>4001</value>
      </setting>
      <setting name="MainNetBytePrefix" serializeAs="String">
        <value>23</value>
      </setting>
      <setting name="TestNetName" serializeAs="String">
        <value>testnet</value>
      </setting>
      <setting name="TestNetPort" serializeAs="String">
        <value>4000</value>
      </setting>
      <setting name="TestNetBytePrefix" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="ConnectionLimit" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="ConnectionLeaseTimeOut" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="DefaultConnectionLimit" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="NetHash" serializeAs="String">
        <value>6e84d08bd299ed97c212c886c98a57e36545c8f5d645ca7eeae63a8bd62d8988</value>
      </setting>
      <setting name="MaxNumOfBroadcasts" serializeAs="String">
        <value>5</value>
      </setting>
    </ArkNet.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <ArkNet.Properties.Settings>
      <setting name="NetworkVersion" serializeAs="String">
        <value>1.0</value>
      </setting>
    </ArkNet.Properties.Settings>
  </userSettings>
</configuration>